<template>
  <div class="container">
    <h1 class="mt-5 text-center">App météo avec Vue.js</h1>
    <div class="form-group mb-5">
      <label for="position">Entrer le nom d'une ville</label>
      <input
        type="text"
        id="position"
        class="form-control"
        v-model="requete"
        @keypress.enter="goMeteo"
      />
    </div>
    <div class="w-75 m-auto" v-if="temps">
      <h3 class="text-center">Position: {{ temps.name }}</h3>
      <div class="card text-center p-5">
        <p class="texte-affichage">
          Temperature : {{ temps.main["temp"].toFixed() }} °
        </p>
        <p class="texte-affichage">
          Temps : {{ temps.weather[0].description }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Meteo",
  data() {
    return {
      requete: "",
      temps: undefined,
      api_code: "831a1f72115e9040bc01ae1821d24ff4",
      url_recherche: "https://api.openweathermap.org/data/2.5/weather?",
    };
  },
  methods: {
    goMeteo: function () {
      axios
        .get(
          `${this.url_recherche}q=${this.requete}&units=metric&APPID=${this.api_code}&lang=fr`
        )
        .then((reponse) => {
          //console.log(reponse.data["main"]["temp"]);
          this.temps = reponse.data;
        });
      this.requete = "";
    },
  },
};
</script>
<style scoped>
.texte-affichage {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}
label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-top: 30px;
}
</style>
