<template>
  <div id="app">
    <meteo></meteo>
  </div>
</template>

<script>
import Meteo from "./components/Meteo";
export default {
  name: "App",
  components: {
    meteo: Meteo,
  },
};
</script>

<style>
body {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
